@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 8em;
  height: 8em;
  border: 0.8em solid #d7d7d7; /* Light grey */
  border-top: 0.8em solid #0466c8; /* Black */
  border-radius: 100%;
  animation: spinner 1s linear infinite;
}
.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
